.box-row {
	background-color: rgba(var(--bs-white-rgb), 1);
	cursor: pointer;
	transition: 0.35s;
}

.box-row:hover {
	background-color: rgba(var(--bs-light-rgb), 1);
}

* {
	margin: 0px;
	padding: 0px;
}

.header {
    font-family: 'Courier New Bold';
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #ececec;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 10px 10px;
	padding: 20px;
}
.NewTask{
	display:none;
}
form {
	width: 55%;
	margin: 50px auto;
	padding: 20px;
	background: #ececec;
	border-radius:10px 10px 10px 10px;
}

.content {
	width: 50%;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #FF0000;
	background: #ececec;
	border-radius:10px 10px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group-Year {
	margin: 10px 0px 10px 0px;
	text-align: center;
    width: 33%;
	float: left;
}
.input-group-Month {
	margin: 10px 0px 10px 0px;
	text-align: center;
    width: 33%;
	float: left;
	
}
.input-group-Day {
	margin: 10px 0px 10px 0px;
	text-align: center;
    width: 33%;
	float: right;
}
.input-group-Year label{
	display:block;
	text-align: left;
	margin: 5px;
}
.input-group-Year input{
	height: 20px;
	width: 90%;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-group-Month label{
	display:block;
	text-align: left;
	margin: 5px;
}
.input-group-Month input{
	height: 20px;
	width: 90%;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-group-Day label{
	display:block;
	text-align: left;
	margin: 5px;
}
.input-group-Day input{
	height: 20px;
	width: 95%;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-group label{
	display:block;
	text-align: left;
	margin: 5px;
}
.input-group input{
	height: 20px;
	width: 98.5%;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-group-Percent label{
	display:block;
	text-align: left;
	margin: 5px;
}
.navigation-bar {
	text-align: center;
}
.input-group-Percent input{
	height: 20px;
	width: 8%;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.error {
	width:92%;
	margin:0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}
.success {
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}